.gallery-float {
    position: absolute;
    background-color: rgba(6, 6, 8, 0.85);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    text-align: center;
    display: none;
}

.gallery-float .image-float {
    border-radius: 1%;
    border: solid 10px white;
    width: 1200px;
    height: 800px;
    margin: 50px auto;
    position: relative;
}

.gallery-float .image-float img {
    width: 100%;
    height: 100%;
}

.content {
    width: 300px;
}

.gallery-title {
    margin-left: 0;
}

.gallery-title div p {
    font-family: Arial, sans-serif;
    line-height: 50px;
    color: black;
    font-size: 18px;
}

.gallery {
}

.gallery ul {
    list-style: none;
}

.gallery ul li {
    display: inline-block;
    margin-top: 3px;
    border: solid 3px #e1e1e1;
    overflow: hidden;
    cursor: pointer;

}

.gallery ul li:hover {
    border: solid 3px #cbcbcb;
}

.gallery-option {
    position: absolute;
    top: 700px;
    left: 460px;

}

.image-float ul {
    list-style: none;

}

.image-float ul li {
    float: right;
    z-index: 99;
    margin-left: 20px;
}

.image-float ul li i {
    font-size: 40px;
    color: white;
    cursor: pointer;

}

.image-float ul li i:hover {
    opacity: 0.7;
}

.image-float ul li i:active {
    margin-top: 5px;
}